.Body {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-image: url("./img/blur-background.jpg");
}
.App {
  text-align: center;
}
.app-container {
  padding-top: 30px;
  text-align: center;
}
.arrow-box {
  vertical-align: top;
}
.arrow {
  text-align: center;
  font-size: 40px;
  color: gainsboro;
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 50px;
}

.App-header {
  background-color: #222;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 1.4em;
}
.App-sub-title {
  font-size: 1em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.modal-box {
  display: none;
  opacity: 0.7;
  border-radius: 10px;
  background-color: aliceblue;
  text-align: center;
  width: 150px;
  height: 150px;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin: auto;
}

.progress-circle {
  width: 100px;
  height: 100px;
  margin-top: 10px;
  animation: progress-spin infinite 1s linear;
}
.modal-text {
  margin-bottom: 10px;
}

.check-mark {
  width: 100px;
  height: 100px;
  margin-top: 10px;
}

@keyframes progress-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 0.7}
}

@keyframes fadeOut {
  0% {opacity: 0.7;}
  100% {opacity: 0;}
}