.Body {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-image: url("./img/blur-background.jpg");
}
.App {
  text-align: center;
}
.app-container {
  padding-top: 50px;
  text-align: center;
}
.arrow-box {
  padding-bottom: 1rem;
}
.arrow {
  text-align: center;
  font-size: 50px;
  color: gainsboro;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 200px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.copiedFrame{
  position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  opacity: 0.7;
  border-radius: 10px;
  background-color: aliceblue;
  width: 150px;
  height: 150px;
  font-size: 25px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.progressbar-box {
  display: none;
  opacity: 0.7;
  border-radius: 10px;
  background-color: aliceblue;
  text-align: center;
  width: 150px;
  height: 150px;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin: auto;
}

.progress-circle {
  width: 100px;
  height: 100px;
  margin-top: 10px;
  animation: progress-spin infinite 1s linear;
}

@keyframes progress-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}